.image-container div{
    background: url('C:\Users\naras\OneDrive\Desktop\pharmacy_project\new_try\client\src\assets\v870-mynt-06.jpg') no-repeat ;
    background-attachment: fixed;
    background-size: cover; /* Ensure the image covers the entire container */
}

#card-pg div ul li{
    background: url('C:\Users\naras\OneDrive\Desktop\pharmacy_project\new_try\client\src\assets\v870-mynt-06.jpg') no-repeat ;
    background-attachment: fixed;
    background-size: cover;
}